# Copy to Docker/config.env (gitignored) or set NANOBOT_DOCKER_CONFIG=
#
# IMAGE=nanobot:local
# PORT=8787
# NAME=nanobot
# MODE=peer
# DOCKER_HOST_NET=1
#
# SSH_ENABLE=1
# SSH_PORT=2222
# SSH_PASSWORD=
#
# AUTH_PASS=
# INPUT=
# EXPORT=
